
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container2 {
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;

    border: 1px solid #ddd;
    padding: 10px;
    box-sizing: border-box;
    
}
.container2::-webkit-scrollbar{
    display: none;
}
.product-image2 {
    display: flex;
    border: 2px solid black;
    width: 300px;
    padding-left: 20px;
    height: 300px;
    margin-right: 10px;
    list-style-type: none;

} 

.product-list2{
    
    display: flex;
    list-style-type: none;
  }